@charset "utf-8";
@import url("../webfonts/DejaVuSansMono/stylesheet.css");
@import url("../webfonts/DejaVuSans/stylesheet.css");
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
body{
	font-family: DejaVuSans, "DejaVuSans Bold", DejaVuSansCondensed, "DejaVuSansCondensed Bold", DejaVuSansMono, "DejaVuSansMono Bold", sans-serif;
	background-color: #151515;
}

td,th {
	font-family: DejaVuSans, "DejaVuSans Bold", DejaVuSansCondensed, "DejaVuSansCondensed Bold", DejaVuSansMono, "DejaVuSansMono Bold", sans-serif;
}
img, object, embed, video {
	max-width: 100%;
	text-align: right;
}
a:hover {
	color: #000;
}
a:active {
	color: #000;
}
a:visited {
	color: #000;
}
a:link {
	color: #000;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(156,156,156,1.00)),color-stop( 1.55% , rgba(53,53,53,1.00)),color-stop( 97.41% , rgba(27,27,27,1.00)),color-stop( 100% , rgba(58,58,58,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(156,156,156,1.00) 0%,rgba(53,53,53,1.00) 1.55%,rgba(27,27,27,1.00) 97.41%,rgba(58,58,58,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(156,156,156,1.00) 0%,rgba(53,53,53,1.00) 1.55%,rgba(27,27,27,1.00) 97.41%,rgba(58,58,58,1.00) 100%);
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 99%;
	padding-left: 0;
	padding-right: 0;
	clear: none;
	float: none;
}
#div1 {
	text-align: center;
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}
/* css button - 確認鍵(藍色) start */
.css_btn_class01 {
	font-size: 16px;
	font-weight: normal;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #206f99;
	text-decoration: none;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21aeff', endColorstr='#282cc');
	color: #ffffff;
	display: inline-block;
	background-position: top;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,161,255,1.00)),color-stop( 100% , rgba(0,72,114,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(0,161,255,1.00) 0%,rgba(0,72,114,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,161,255,1.00) 0%,rgba(0,72,114,1.00) 100%);
	padding-bottom: 10px;
	padding-top: 10px;
	width: auto;
	height: auto;
	padding-left: 30%;
	padding-right: 30%;
}.css_btn_class01:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282cc', endColorstr='#21aeff');
	background-position: top;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,72,114,1.00)),color-stop( 100% , rgba(0,161,255,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(0,72,114,1.00) 0%,rgba(0,161,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,72,114,1.00) 0%,rgba(0,161,255,1.00) 100%);
	border: 1px solid #206f99;
}.css_btn_class:active {
	position:relative;
	top:1px;
}
/* css button - 確認鍵(藍色) end */
/* css button - 重發簡訊 start */
.css_btn_class02 {
	font-size: 16px;
	font-weight: normal;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 7px;
	border: 1px solid #1ABBF1;
	text-decoration: none;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8787', endColorstr='#bf1515');
	color: #FFF;
	display: inline-block;
	text-shadow: 0px 0px 6px #ffffff;
	background-position: top;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(33,174,255,1.00)),color-stop( 100% , rgba(0,103,163,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(33,174,255,1.00) 0%,rgba(0,103,163,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(33,174,255,1.00) 0.00%,rgba(0,103,163,1.00) 100%);
	width: auto;
	height: auto;
	padding-bottom: 10px;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 10px;
}.css_btn_class02:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf1515', endColorstr='#ff8787');
	background-position: top;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,103,163,1.00)),color-stop( 100% , rgba(33,174,255,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(0,103,163,1.00) 0%,rgba(33,174,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,103,163,1.00) 0%,rgba(33,174,255,1.00) 100%);
}.css_btn_class:active {
	position:relative;
	top:1px;
}
/* css button - 重發簡訊 end */
.title01 {
	width: 100%;
	height: auto;
	text-align: center;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(156,156,156,1.00)),color-stop( 6.21% , rgba(53,53,53,1.00)),color-stop( 93.27% , rgba(27,27,27,1.00)),color-stop( 99.48% , rgba(0,0,0,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(156,156,156,1.00) 0%,rgba(53,53,53,1.00) 6.21%,rgba(27,27,27,1.00) 93.27%,rgba(0,0,0,1.00) 99.48%);
	background-image: linear-gradient(180deg,rgba(156,156,156,1.00) 0%,rgba(53,53,53,1.00) 6.21%,rgba(27,27,27,1.00) 93.27%,rgba(0,0,0,1.00) 99.48%);
}

.title02 {
	width: 100%;
	height: auto;
	text-align: center;
	background-repeat: repeat-x;
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 1.3em;
	color: #FFFFFF;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(156,156,156,1.00)),color-stop( 6.21% , rgba(53,53,53,1.00)),color-stop( 93.27% , rgba(27,27,27,1.00)),color-stop( 99.48% , rgba(0,0,0,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(156,156,156,1.00) 0%,rgba(53,53,53,1.00) 6.21%,rgba(27,27,27,1.00) 93.27%,rgba(0,0,0,1.00) 99.48%);
	background-image: linear-gradient(180deg,rgba(156,156,156,1.00) 0%,rgba(53,53,53,1.00) 6.21%,rgba(27,27,27,1.00) 93.27%,rgba(0,0,0,1.00) 99.48%);
	font-weight: 900;
}
.title03 {
	width: 100%;
	height: ａｕｔｏ;
	text-align: center;
	left: auto;
	right: auto;
	top: 20px;
	bottom: 20px;
}
.text01 {
	width: 70%;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0px;
	padding-bottom: 0px;
	height: auto;
}
.table01 {
	width: 85%;
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0px;
	padding-bottom: 0px;
	height: auto;
	border-radius: 10px;
	background-color: #FFFFFF;
}
.table02 {
	width: 70%;
	text-align: right;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0px;
	padding-bottom: 0px;
	height: auto;
}

.word03 {
	color: #007ECC;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}
.word04 {
	color: #F00;
	text-align: center;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.word05 {
	color: #333333;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
}
.btn {
	width: auto;
	height: auto;
	min-width: 30px;
	max-width: 64px;
}
.btn_space {
	padding-bottom: 10px;
	padding-top: 10px;
}

.space {
	width: auto;
	height: auto;
	padding-bottom: 50px;
}

.agree {
	width: auto;
	height: auto;
	padding-top: 5px;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
}
