/* Pop-up size: 440px X 500px */
BODY{
	margin:0 0;
	font-family:Verdana, Arial, serif, sans-serif;
	font-size:12px;
	color:#666;
	}
#Wrap{
	width:360px;
	height:345px;
	padding:80px 40px 80px 40px;
	}

/* Guide & FAQ Button */
#TopBtn	{
	width:355px;
	height:18px;
	padding-bottom:3px;
	text-align:right;
	}

/* Preference of Gray-colored Layer */
#InfoTable	{
	width:337px;
	height:150px;
	border:1px solid #DEDEDE;
	border-collapse:collapse;
	background-color:#F2F2F2;
	padding:8px;
	}

/* Payment Guide */
#PayGuide	{
	font-family:新細明體;
	background-color:#fff;
	padding:5px 10px;
	}
#PayGuide li{
	list-style-type:none;
	list-style-position:outside;

	}
#PayGuide li img{
	padding-right:5px;
	}

/* Input Payment Info */
Form	{
	margin:0;
	padding:0;
	}
#InputInfo	{
	padding:5px 0px 0px 0px;
	}
#InputInfo TABLE	{
	width:100%;
	font-family:Verdana, Arial, serif, sans-serif;
	font-size:12px;
	color:#666;
	}
#InputInfo TH	{
	padding:5px 5px 1px 28px;
	text-align:left;
	font-weight:normal;
	}	
#InputInfo TD	{
	padding-top:0px;
	font-weight:bold;
	color:#ED72A5;
	}
#InputInfo FORM, SELECT 	{	
	width:170px;
	font-family:新細明體;
	font-size:11px;
	color:#666;
	font-weight:normal;
	}
#InputInfo INPUT 	{
	height:14px;
	color:#666;
	border:1px #ABABAB solid;
	}
.INPUT_OKNum	{
	width:165px;	
	}
.Cell03	{
	padding : 8px 0px;
	}
.Cell04	{
	padding : 0 10px;
	}
.Border	{
    width:355px;
	height:1px;
	background-color:#DEDEDE;
	}
.hyphen	{
	font-weight:normal;
	color:#666;
	}


/* Time & Confirm Button */
#Confirm	{
	width:355px;
	height:120px;
	padding:5px 0;
	}

.ConfirmBtn	{
	padding:0 0 0 5px;
	}

#TimeInfo INPUT 	{
	height:14px;
	width:60px;	
	color:#666;
	border:1px #ABABAB solid;

.ReBtn	{
	padding:0 0 0 5px;
	}
.Time {
	font-family:新細明體;
	background-color:#FAFAFA;
	padding: 8px 10px;
	}
