/* Pop-up size: 440px X 500px */
BODY{
	margin:0 0;
	font-family:Verdana, Arial, serif, sans-serif;
	font-size:12px;
	color:#666;
	}
#Wrap{
	width:360px;
	height:345px;
	padding:80px 40px 80px 40px;
	}

/* Guide & FAQ Button */
#TopBtn	{
	width:355px;
	height:18px;
	padding-bottom:3px;
	text-align:right;
	}

/* Preference of Gray-colored Layer */
#InfoTable	{
	width:337px;
	height:260px;
	border:1px solid #DEDEDE;
	border-collapse:collapse;
	background-color:#F2F2F2;
	padding:8px;
	}

/* Payment Guide */
#PayGuide	{
	font-family:新細明體;
	background-color:#fff;
	padding:5px 10px;
	}
#PayGuide li{
	list-style-type:none;
	list-style-position:outside;

	}
#PayGuide li img{
	padding-right:5px;
	}

/* Input Payment Info */
Form	{
	margin:0;
	padding:0;
	}
#InputInfo	{
	padding:5px 0px 0px 0px;
	}
#InputInfo TABLE	{
	width:100%;
	font-family:Verdana, Arial, serif, sans-serif;
	font-size:12px;
	color:#666;
	}
#InputInfo TH	{
	padding:5px 5px 1px 28px;
	text-align:left;
	font-weight:normal;
	}	
#InputInfo TD	{
	padding-top:0px;
	font-weight:bold;
	color:#ED72A5;
	}
#InputInfo FORM, SELECT 	{	
	width:170px;
	font-family:新細明體;
	font-size:11px;
	color:#666;
	font-weight:normal;
	}
#InputInfo INPUT 	{
	height:14px;
	color:#666;
	border:1px #ABABAB solid;
	}
.INPUT_PhoneNum	{
	width:74px;	
	}
.INPUT_IDNum	{
	width:165px;	
	}
.hyphen	{
	font-weight:normal;
	color:#666;
	}
.Cell01	{
	padding : 2px 0;
	}
.Cell02	{
	color:#ACB5BB;
	font-weight:normal;
	}

/* Agreement & Confirm Button */
#Confirm	{
	width:355px;
	height:20px;
	padding:5px 0;
	}

.CheckAgreement	{
	padding:0 5px;
	}
.ConfirmBtn	{
	padding:0 0 0 5px;
	}

/* Notice */
#BtmNoticeTitle	{
	width:357px;
	height:18px;
	padding-bottom:3px;
	text-align:left;
	}
#BtmNotice {
	width:357px;
	padding:0;
	vertical-align:middle;
	}
#BtmNotice TABLE	{
	width:100%;
	}
#BtmNotice li{
	list-style-type:circle;
	list-style-position:inside;
	}
.Border	{
	height:1px;
	background-color:#DEDEDE;
	}
.Notice	{
	font-family:新細明體;
	background-color:#FAFAFA;
	padding: 8px 10px;
	}
